h1{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  color: green;
  
}

/*header*/

.header {
  width: 100%;
  height: 200px;
}

.information{
  display: flex;
  align-content: center;
  flex-direction: column;
}

/*main body*/

.description {
  padding: 10px 0px;
  width: 100%;
}

.portfolio {
  padding: 10px 0px ;
}

.history {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 600px;
  height: 300px;
  grid-template-areas: 'micropulse army';
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}
